.input {
    padding: 9px 30px 9px 12px;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    transform: skew(-30deg, 0deg);
    border-radius: 6px;
    box-shadow: 4px 4px 4px #00000024;
    margin-bottom: 12px;

    &:focus {
        outline: none;
        background-color: var(--opacityBlue);
        color: var(--ligthGrey);

    }

    &::placeholder {
        transform: skewX(30deg);
        color: var(--white);
    }
}