.dashboard {
    padding: 80px 20px;

    & h1 {
        color: var(--ligthGrey);
    }

    & h2,
    p {
        color: var(--white);
    }

    &__summary {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}


.summary__item {
    background-color: var(--blue);
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

.dashboard__transactions {
    margin-top: 20px;
}

.transaction__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--blue);

    & span {
        color: var(--ligthGrey)
    }
}